{% extends 'pages/base.html' %}

{% block title%}
    SEARCH
{% endblock title%}

{% block content %}

<main class="main">
    <section class="search">
        <form action="{% url 'pages:itemsSearch' %}" method="GET">
            {% csrf_token%}
            <button type="submit" class="btn">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
            <input type="text" name="search" id="seacrh" placeholder="search for repositories" class="search-input">
        </form>
    </section>    
    <section class="results-container">
        {% if results %}
            {% for item in results %}
        <div class="result">
            <a href="{% url 'pages:itemsDetail' item.pk %}">{{ item.name }}</a>
        </div>
            {% endfor %}
        {% else %}
            <p>no items found</p>
        {% endif %}
    </section>
</main>

{% endblock content %}
